body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

x-app {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  background: #f6f6ef;
}

x-header {
  display: block;
  background: #f60;
  padding: 10px;
}

x-list-item {
  display: block;
  padding: 8px;
  color: #999;
  font-size: 10px; 
}

x-list-item a.title {
  color: #000;
  font-size: 16px; 
}

x-comments {
  display: block;
  margin-left: 20px;
}
